---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_172rDOGeF17FCPJ2ryplvkul&plan=myflix_base&email=joe%40example.com
    headers:
      Authorization:
      - Bearer sk_test_2gB1xh7jwrowOkemhCZrhR4N
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7HQ39M6TffMB06",
          "object": "customer",
          "account_balance": 0,
          "created": 1446504952,
          "currency": "usd",
          "default_source": "card_172rDOGeF17FCPJ20NSmg9xH",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "joe@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_172rDOGeF17FCPJ20NSmg9xH",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7HQ39M6TffMB06",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2025,
                "fingerprint": "lBuC8qY1FR9nqFir",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7HQ39M6TffMB06/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_7HQ31zVpgrDBk3",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1449096952,
                "current_period_start": 1446504952,
                "customer": "cus_7HQ39M6TffMB06",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "myflix_base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1446382142,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "MyFLix Base Plan",
                  "statement_descriptor": "MyFLix Base Plan",
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1446504952,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7HQ39M6TffMB06/subscriptions"
          }
        }
  recorded_at: Mon, 02 Nov 2015 22:55:53 GMT
recorded_with: VCR 2.9.3
