---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_172LrkGeF17FCPJ2EGkLgp1J&plan=myflix_base&email=foo%40bar.com
    headers:
      Authorization:
      - Bearer sk_test_2gB1xh7jwrowOkemhCZrhR4N
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7Gtf4E9LLh0eah",
          "object": "customer",
          "account_balance": 0,
          "created": 1446384445,
          "currency": "usd",
          "default_source": "card_172LrkGeF17FCPJ20v2rnmPH",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "foo@bar.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_172LrkGeF17FCPJ20v2rnmPH",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7Gtf4E9LLh0eah",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 10,
                "exp_year": 2016,
                "fingerprint": "lBuC8qY1FR9nqFir",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7Gtf4E9LLh0eah/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_7GtfotXbNFDDmz",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1448976445,
                "current_period_start": 1446384445,
                "customer": "cus_7Gtf4E9LLh0eah",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "myflix_base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1446382142,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "MyFLix Base Plan",
                  "statement_descriptor": "MyFLix Base Plan",
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1446384445,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7Gtf4E9LLh0eah/subscriptions"
          }
        }
  recorded_at: Sun, 01 Nov 2015 13:27:27 GMT
recorded_with: VCR 2.9.3
