---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2022&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_2gB1xh7jwrowOkemhCZrhR4N
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_172sAHGeF17FCPJ2oPuay99o",
          "object": "token",
          "card": {
            "id": "card_172sAHGeF17FCPJ2fiJgCj8D",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 10,
            "exp_year": 2022,
            "fingerprint": "lBuC8qY1FR9nqFir",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "111.240.40.210",
          "created": 1446508601,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 02 Nov 2015 23:56:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_172sAHGeF17FCPJ2oPuay99o&plan=myflix_base&email=jovani%40jerde.info
    headers:
      Authorization:
      - Bearer sk_test_2gB1xh7jwrowOkemhCZrhR4N
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7HR2ntLgjilJeD",
          "object": "customer",
          "account_balance": 0,
          "created": 1446508602,
          "currency": "usd",
          "default_source": "card_172sAHGeF17FCPJ2fiJgCj8D",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "jovani@jerde.info",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_172sAHGeF17FCPJ2fiJgCj8D",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7HR2ntLgjilJeD",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 10,
                "exp_year": 2022,
                "fingerprint": "lBuC8qY1FR9nqFir",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7HR2ntLgjilJeD/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_7HR25UDTXFy8cy",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1449100602,
                "current_period_start": 1446508602,
                "customer": "cus_7HR2ntLgjilJeD",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "myflix_base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1446382142,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "MyFLix Base Plan",
                  "statement_descriptor": "MyFLix Base Plan",
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1446508602,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7HR2ntLgjilJeD/subscriptions"
          }
        }
  recorded_at: Mon, 02 Nov 2015 23:56:43 GMT
recorded_with: VCR 2.9.3
