---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_172rS9GeF17FCPJ2TqL3lnvx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_2gB1xh7jwrowOkemhCZrhR4N
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_172rS9GeF17FCPJ2TqL3lnvx",
          "object": "event",
          "api_version": "2015-10-16",
          "created": 1446505865,
          "data": {
            "object": {
              "id": "ch_172rS9GeF17FCPJ2xT8kGcEz",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": "txn_172rS9GeF17FCPJ2l4KitQGM",
              "captured": true,
              "created": 1446505865,
              "currency": "usd",
              "customer": "cus_7HQIILg3mFplK1",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": "in_172rS9GeF17FCPJ28ucdsLby",
              "livemode": false,
              "metadata": {},
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_172rS9GeF17FCPJ2xT8kGcEz/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_172rS7GeF17FCPJ2lL7nekoF",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7HQIILg3mFplK1",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2015,
                "fingerprint": "lBuC8qY1FR9nqFir",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "statement_descriptor": "MyFLix Base Plan",
              "status": "succeeded"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_7HQIvG9DKHNBB2",
          "type": "charge.succeeded"
        }
  recorded_at: Tue, 03 Nov 2015 01:19:58 GMT
recorded_with: VCR 2.9.3
