---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2022&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_2gB1xh7jwrowOkemhCZrhR4N
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_172LUwGeF17FCPJ2NfD1j7Oy",
          "object": "token",
          "card": {
            "id": "card_172LUwGeF17FCPJ2FBl0iSoz",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 10,
            "exp_year": 2022,
            "fingerprint": "lBuC8qY1FR9nqFir",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "111.240.40.210",
          "created": 1446383030,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sun, 01 Nov 2015 13:03:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&source=tok_172LUwGeF17FCPJ2NfD1j7Oy
    headers:
      Authorization:
      - Bearer sk_test_2gB1xh7jwrowOkemhCZrhR4N
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_172LUyGeF17FCPJ2HlYsVpIp",
          "object": "charge",
          "amount": 300,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_172LUyGeF17FCPJ2NUvwx1Hv",
          "captured": true,
          "created": 1446383032,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_172LUyGeF17FCPJ2HlYsVpIp/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_172LUwGeF17FCPJ2FBl0iSoz",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 10,
            "exp_year": 2022,
            "fingerprint": "lBuC8qY1FR9nqFir",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Sun, 01 Nov 2015 13:03:53 GMT
recorded_with: VCR 2.9.3
