---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_1718BxGeF17FCPJ2o9Y0rQsO&description=Registration+Charge+for+alice%40example.com
    headers:
      Authorization:
      - Bearer sk_test_2gB1xh7jwrowOkemhCZrhR4N
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1718ByGeF17FCPJ2ly5Zy98Y",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_1718BzGeF17FCPJ2LtB021Q7",
          "captured": true,
          "created": 1446093554,
          "currency": "usd",
          "customer": null,
          "description": "Registration Charge for alice@example.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1718ByGeF17FCPJ2ly5Zy98Y/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_1718BxGeF17FCPJ2PmxUQjfW",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 10,
            "exp_year": 2016,
            "fingerprint": "lBuC8qY1FR9nqFir",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Thu, 29 Oct 2015 04:39:15 GMT
recorded_with: VCR 2.9.3
