!!! 5
%html(lang="en-US")
  %body
    %section.container
      %h2
        = "Hi, #{@invitation.recipient_fullname}."
      %p= @invitation.message
      %p= link_to 'Join Me on MyFLix', register_with_token_url(@invitation.token)

    %footer
      &copy 2013 MyFLiX
