!!! 5
%html(lang="en-US")
  %body
    %section.container
      %h2
        = "Hi, #{@user.fullname}."
      %p You've requested a password reset from MyFLix. Please click below link to reset your password.
      %p= link_to 'Reset My Password', password_reset_url(@user.token)
      %p If you did not request to reset the password before. Please ignore this email.
    %footer
      &copy 2013 MyFLiX
