!!! 5
%html(lang="en-US")
  %body
    %section.container
      %h2
        = "Welcome, #{@user.fullname}."
      %p Thank you for register MyFLix. Enjoy your video trips with us.
      %p Feel free to drop us email if you have any issues of using our services or just want to let us know your thoughts.
    %footer
      &copy 2013 MyFLiX
